*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
}
nav{
    box-shadow: 1px 1px 1px 1px black;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap:10px;
    padding: 10px;
}
h1{
    text-align: center;
    margin-top: 10px;
}
#count,input,h2,ul{
    margin-top: 20px;
    margin-left: 30px;
}
#filter{
    width:70%;
    height:30px;
    border-radius: 7px;
}
#logout{
    height:30px;
    padding: 7px;
    border-radius: 9px;
    border:none;
    background-color: skyblue;
}

#users-list{
    display: flex;
    flex-direction: column;
    gap:20px;
}