*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.card{
    display: flex;
    flex-direction: column;
    gap:20px;
    box-shadow:1px 1px 1px 1px black;
    padding: 30px;
    border-radius: 7px;

}
.card input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 3px;
}