*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  margin-top: 10px;
}
#hotel {
  text-align: center;
  color: brown;
  align-items: center;
  justify-content: center;
}
/*  */
#container {
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#signup,
#login {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  width: 100px;
  cursor: pointer;
  background-color: rgb(40, 138, 218);
}

a {
  color: white;
  text-decoration: none;
}

.para {
  font-size: 20px;
  color: green;
  margin:10px;
}


#food {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 500px;
}

#menu {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  width: 150px;
  cursor: pointer;
  background-color: rgb(218, 90, 40);
}

#cloud {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  width: 150px;
  cursor: pointer;
  background-color: rgb(18, 220, 200);
}

nav{
  box-shadow: 1px 1px 1px 1px black;
  padding: 10px;
  display: flex;
  height: 70px;
  align-items:center;
  justify-content: space-between;
  gap:10px;
}
.right{
  display: flex;
  align-items: center;
  gap:20px;

}
#logo{
  height:50px;
  width:50px;
}